/* resets */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  /* -webkit-font-smoothing: antialiased; */
  font-family: monospace;
  height: auto;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Headings */
h1 {
    font-size: 2.5rem;
    padding-bottom: 1%;
}

h2 {
    color: #E392B6;
    padding-bottom: 1%;
}


/* Navbar */

.navbar {
    background-color: white;
}

.container-fluid {
    padding: 2% 15%;
}

/* Title page */

.title {
    display: flex;
}

.title-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.project-link {
    display: flex;
    gap: 10px;
}

.project-link a {
    text-decoration: none;
    color: black;
}

.line-break::after {
    content: "\a ";
    white-space: pre;
}

/* About me section */

.aboutme {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-me-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.about-me-para {
    margin-right: 30%;
}

.pic-me {
    border-radius: 10px;
}

/* My Projects */

.projects-header {
    margin: 30px 0;
}

.carousel-container {
    padding: 20px;
}

/* Contacts */

.contact-header {
    margin: 30px 0;
}

.form {
    border: 3px solid #E392B6;
    padding: 3%;
    border-radius: 20px;
}

.text-md-left {
    padding-top: 15px
}

.name-email {
    padding-bottom: 15px;
}

/* animation */
.project-link {
    transition: all 0.3s ease-in-out;
}
.project-link:hover {
    padding-left: 10px;
}

.project-text a {
    transition: all 0.3s ease-in-out;
}

.project-text a:hover {
    color: #E392B6;
}

/* success page */

a {
    color: black;
}