/* resets */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  /* -webkit-font-smoothing: antialiased; */
  font-family: monospace;
  height: auto;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 0;
}

/* Headings */
h1 {
    font-size: 3rem;
    letter-spacing: 10px;
}

h2 {
    color: #E392B6;
    padding-bottom: 1%;
}


/* Navbar */

.navbar {
    background-color: white;
}

.container-fluid {
    padding: 2% 15%;
}

/* Title page */

.title {
    display: flex;
}

.title-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.title-paragraph {
    margin-top: 2%;
}

.project-link {
    display: flex;
    gap: 10px;
    margin-top: 2%;
}

.project-link a {
    text-decoration: none;
    color: black;
}

.line-break::after {
    content: "\a ";
    white-space: pre;
}

/* typewriter animation */

.typed-out {
    overflow: hidden;
    border-right: .15em solid black;
    font-size: 1.6rem;
    width: 0;
    white-space: nowrap;
    animation: typing 4s steps(15, end) forwards, blink .8s infinite;
}

.container {
    display: inline-block;
}

@keyframes typing {
    from {width: 0;}
    to {width: 100%;}
}
@keyframes blink {
    from { border-color: transparent}
    to {border-color: black;}
}

/* About me section */

.aboutme {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-me-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.about-me-para {
    margin-right: 30%;
}

.pic-me {
    border-radius: 10px;
}

/* My Projects */

.projects-header {
    margin: 30px 0;
}

.carousel-container {
    padding: 20px;
}

/* Contacts */

.contact-header {
    margin: 30px 0;
}

.form {
    border: 3px solid #E392B6;
    padding: 3%;
    border-radius: 20px;
}

.name-email {
    padding-bottom: 15px;
}

.text-area {
    padding-bottom: 15px;
}

button {
    border: none;
    background-color: white;
}

/* animation */
.project-link {
    transition: all 0.3s ease-in-out;
}
.project-link:hover {
    padding-left: 10px;
}

.project-text a {
    transition: all 0.3s ease-in-out;
}

.project-text a:hover {
    color: #E392B6;
}

/* success page */

.success-arrow a {
    color: black;
}